body {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.primary-header {
    background-color: #ecf5ff;
    padding: 1rem;
    font-family: sans-serif;
    font-size: 1.5rem;
}

.nav {
    display: flex;
    justify-content: space-evenly;
}

li {
    list-style: none;
    padding: 1rem;  
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

li:hover,:focus {
    transform: scale(1.2);
    transition: all 1s;
}

.section-1 {
    font-family: sans-serif;
    padding: 1rem;
    background-image: url(./media/background-image.png);
}

.div-main-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-main {
    text-align: center;
}

.text-main > h2 {
    font-size: 3rem;
}